<launch>
    <arg name="namespace_prefix" default="aubo_i5_d405_handeyecalibration" />

    <!-- start rs_d405 -->
    <include file="$(find rs_ros_wrapper)/launch/rs_cam_d405_720p.launch"/>

    <!-- start aruco_ros -->
    <include file="$(find aruco_ros)/launch/aruco_582_rs.launch"/>

    <!-- start rqt_image_viewer -->
    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen" />

    <!-- start aubo_i5 -->
    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="robot_ip" value="192.168.0.123"/>
    </include>

    <!-- start easy_handeye -->
    <include file="$(find easy_handeye)/launch/calibrate.launch" >
        <arg name="namespace_prefix" value="$(arg namespace_prefix)" />
        
        <!-- eyeonhand: true, eyeonbase: false -->
        <arg name="eye_on_hand" value="true" />

        <!-- define frames -->
        <arg name="tracking_base_frame" value="camera_frame" />
        <arg name="tracking_marker_frame" value="aruco_marker_frame" />
        <arg name="robot_base_frame" value="base_link" />
        <arg name="robot_effector_frame" value="gripper_tip_Link"/>

        <!-- move by hand: true, move automatic: false -->
        <arg name="freehand_robot_movement" value="true" />
        <arg name="start_rviz" value="false"/>
    </include>

</launch>